[run]
omit =
    test/*
    */__init__.py
    **/__init__.py
    backoff/*
    bin/*
    boto3/*
    botocore/*
    certifi/*
    charset*/*
    crhelper*
    chardet*
    dateutil/*
    idna/*
    jmespath/*
    lib/*
    package*
    python_*
    requests/*
    s3transfer/*
    six*
    tenacity*
    tests
    urllib3/*
    yaml
    PyYAML-*
source =
    .